.container {
    display: flex;
    justify-content: center;
    padding: 1rem;
    .infoContainer {
        display: grid;
        grid-template-columns: repeat(12, minmax(80px, 1fr));
        row-gap: 1rem;
        column-gap: 0.5rem;
        .info {
            display: flex;
            flex-direction: column;
            align-items: center;
            .time {
                color: var(--blueOne);
                font-size: 1.2rem;
            }
            .date {
                color: var(--blueOne);
                font-size: 0.8rem;
            }
            .logo {
                svg:nth-of-type(1) {
                    width: 5rem;
                    height: 5rem;
                }
            }
            .condition {
                color: var(--blueOne);
                font-size: 1rem;
            }
            .temp {
                color: var(--blueOne);
                font-size: 1.2rem;
            }
            .rain {
                display: flex;
                align-items: center;
                .waterDrop {
                    color: var(--waterDrop);
                }
            }
        }
    }
}

@media only screen and (max-width: 940px) {
    .container {
        .infoContainer {
            grid-template-columns: repeat(3, minmax(80px, 1fr));
        }
    }
}
