nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 0.5rem 1rem;
    height: var(--nav-height);
    border-bottom: 1px solid #000;
    .search {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;

        .searchField {
            width: 300px;
            .searchIcon {
                font-size: 1.5rem;
                &:hover {
                    color: var(--blueOne);
                    cursor: pointer;
                }
            }
        }
        .searchClear {
            cursor: pointer;
            color: var(--blueOne);
            &:hover {
                color: red;
            }
        }
    }
}
